<div class ="results-card" ng-repeat="favorite in vm.favorites.people.list">
    <h2>People</h2>
    {{favorite}}
</div>
<div class ="results-card" ng-repeat="favorite in vm.favorites.species.list">
    <h2>Species</h2>
    {{favorite}}
</div>
<div class ="results-card" ng-repeat="favorite in vm.favorites.planets.list">
    <h2>Planets</h2>
    {{favorite}}
</div>
<div class ="results-card" ng-repeat="favorite in vm.favorites.starships.list">
    <h2>Starships</h2>
    {{favorite}}
</div>
<div class ="results-card" ng-repeat="favorite in vm.favorites.vehicles.list">
    <h2>Vehicles</h2>
    {{favorite}}
</div>
<div class ="results-card" ng-repeat="favorite in vm.favorites.films.list">
    <h2>Films</h2>
        {{favorite}}
</div>