
<h1>Favorites</h1>

<h2>People</h2>
<div class="flex-container wrap">
    
    <div class ="results-card" ng-repeat="favorite in vm.favorites.people.list">
        <button class="delete-btn" ng-click="vm.deleteFavorite(favorite)">Delete Favorite</button>
        <label>Name:</label> <span>{{favorite.name}}</span><br>
        <label>Birth Year:</label> <span>{{favorite.birth_year}}</span><br>
        <label>Eye Color:</label> <span>{{favorite.eye_color}}</span><br>
        <label>Gender:</label> <span>{{favorite.gender}}</span><br>
        <label>Hair Color:</label><span>{{favorite.hair_color}}</span><br>
        <label>Height:</label> <span>{{favorite.height}}</span><br>
        <label>Homeworld:</label> <a href="{{favorite.homeworld}}">{{favorite.homeworld}}</a><br>
        <label>Mass:</label> <span>{{favorite.mass}}</span><br>
        <label>Species:</label> <span>{{favorite.species}}</span><br>
        
    </div>
</div> 
<h2>Species</h2>
<div class="flex-container wrap"> 
    
    <div class="results-card" ng-repeat="favorite in vm.favorites.species.list">
        <button class="delete-btn" ng-click="vm.deleteFavorite(favorite)">Delete Favorite</button>
        <label>Name:</label> <span>{{favorite.name}}</span><br>
            <label>Classification:</label> <span>{{favorite.classification}}</span><br>
            <label>Designation:</label> <span>{{favorite.designation}}</span><br>
            <label>Average Height:</label> <span>{{favorite.average_height}}</span><br>
            <label>Skin Colors:</label> <span>{{favorite.skin_colors}}</span><br>
            <label>Hair Colors:</label> <span>{{favorite.hair_colors}}</span><br>
            <label>Homeworld:</label> <a href="{{favorite.homeworld}}">{{favorite.homeworld}}</a><br>
            <label>Language:</label> <span>{{favorite.language}}</span><br>
        
    </div>
</div>
<h2>Planets</h2>
<div class="flex-container wrap">
    
    <div class ="results-card" ng-repeat="favorite in vm.favorites.planets.list">
        <button class="delete-btn" ng-click="vm.deleteFavorite(favorite)">Delete Favorite</button>
        <label>Name:</label> <span>{{favorite.name}}</span><br>
            <label>Diameter:</label> <span>{{favorite.diameter}}</span><br>
            <label>Rotation Period:</label> <span>{{favorite.rotation_period}}</span><br>
            <label>Orbital Period:</label> <span>{{favorite.orbital_period}}</span><br>
            <label>Gravity:</label> <span>{{favorite.gravity}}</span><br>
            <label>Population:</label> <span>{{favorite.population}}</span><br>
            <label>Climate:</label> <span>{{favorite.climate}}</span><br>
            <label>Terrain:</label> <span>{{favorite.terrain}}</span><br>
            <label>Surface Water:</label> <span>{{favorite.surface_water}}</span><br>
            <label>Residents:</label><ul ng-repeat="resident in favorite.residents"><li > <a href="{{resident}}">{{resident}}</a></li></ul><br>
    </div>
</div>
<h2>Starships</h2>
<div class="flex-container wrap">
    
    <div class ="results-card" ng-repeat="favorite in vm.favorites.starships.list">
       <button class="delete-btn" ng-click="vm.deleteFavorite(favorite)">Delete Favorite</button>
        <label>Name:</label> <span>{{favorite.name}}</span><br>
            <label>Model:</label> <span>{{favorite.model}}</span><br>
            <label>Starship labels:</label> <span>{{favorite.starship_class}}</span><br>
            <label>Manufacturer</label> <span>{{favorite.manufacturer}}</span><br>
            <label>Cost in Crelabel:</label> <span>{{favorite.cost_in_credits}}</span><br>
            <label>Length:</label><span>{{favorite.length}}</span><br>
            <label>Crew:</label> <span>{{favorite.crew}}</span><br>
            <label>Max Atmospherilabelpeed:</label> <span>{{favorite.max_atmosphering_speed}}</span><br>
            <label>Hyperdrive Rating </label> <span>{{favorite.hyperdrive_rating}}</span><br>
            <label>Cargo Capacity:<label> <span>{{favorite.cargo_capacity}}</span><br>   
    </div>
</div>
<h2>Vehicles</h2>
<div class="flex-container wrap">
    
    <div class="results-card" ng-repeat="favorite in vm.favorites.vehicles.list" flex>
        <button class="delete-btn" ng-click="vm.deleteFavorite(favorite)">Delete Favorite</button>
        <label>Name:</label> <span>{{favorite.name}}</span><br>
        <label>Model:</label> <span>{{favorite.model}}</span><br>
        <label>Vehicle Class:</label> <span>{{favorite.vehicle_class}}</span><br>
        <label>Manufacturer:</label><span>{{favorite.manufacturer}}</span><br>
        <label>Cost in Credits:</label><span>{{favorite.cost_in_credits}}</span><br>
        <label>Length:</label><span>{{favorite.length}}</span><br>
        <label>Crew:</label><span>{{favorite.crew}}</span><br>
        <label>Max Atmospherial Speed:</label><span>{{favorite.max_atmosphering_speed}}</span><br>
        <label>Hyperdrive Rating:</label><span>{favorite.hyperdrive_rating}}</span><br>
        <label>Cargo Capacity:<labeln> <span>{{favorite.cargo_capacity}}</span><br>
    </div>
</div>
<h2>Films</h2>
<div class="flex-container wrap">
    
    <div class ="results-card" ng-repeat="favorite in vm.favorites.films.list" flex>
        <button class="delete-btn" ng-click="vm.deleteFavorite(favorite)">Delete Favorite</button>
        <label>Title:</label> <span>{{favorite.title}}</span><br>
        <label>Episode ID:</label> <span>{{favorite.episode_id}}</span><br>
        <label>Opening Crawl:</label> <span>{{favorite.opening_crawl}}</span><br>
        <label>Director:</label> <span>{{favorite.director}}</span><br>
        <label>Producer:</label> <span>{{favorite.producer}}</span><br>
        <label>Release Date</label> <span>{{favorite.release_date}}</span><br>
        <label>Characters:</label><ul><li ng-repeat="character in favorite.characters"> <a href="{{character}}">{{character}}</a></li></ul><br>
        <label>Planets:</label><ul><li ng-repeat="planet in favorite.planets"> <a href="{{planet}}">{{planet}}</a></li></ul><br>
        <label>Starships:</label><ul><li ng-repeat="ship in favorite.starships"> <a href="{{ship}}">{{ship}}</a></li></ul><br>
        <label>Vehicles:</label><ul><li ng-repeat="vehicle in favorite.vehicles"> <a href="{{vehicle}}">{{vehicle}}</a></li></ul><br>   
    </div>
</div>