
<div class="search-view">
    <h1>Search the Star Wars Universe</h1>
    <button ng-click="vm.searchFor(vm.selectedOption)">Search</button>
</div>
        <form validate name="searchForm">
                <select  name="searchInput" ng-model="vm.selectedOption" ng-options="option.label for option in vm.options" required>
                        <option value="">-- Please Choose a Resource --</option>
                </select>
            <div>
                <label >Search for:</label> <input type="text" ng-model="vm.selectedOption.searchValue" placeholder="search" required >
            </div>
        </form>
<div>        
    <md-content class="content">
        <div ng-if="vm.toggle.people" class="flex-container wrap">
            <div class ="results-card" ng-repeat="result in vm.searchResults.list track by $index" flex>
                <label>Name:</label> <span>{{result.name}}</span><br>
                <label>Birth Year:</label> <span>{{result.birth_year}}</span><br>
                <label>Eye Color:</label> <span>{{result.eye_color}}</span><br>
                <label>Gender:</label> <span>{{result.gender}}</span><br>
                <label>Hair Color:</label><span>{{result.hair_color}}</span><br>
                <label>Height:</label> <span>{{result.height}}</span><br>
                <label>Homeworld:</label> <a href="{{result.homeworld}}">{{result.homeworld}}</a><br>
                <label>Mass:</label> <span>{{result.mass}}</span><br>
                <label>Species:</label> <span>{{result.species}}</span><br>
                <label>Starships:</label><ul><li ng-repeat="ship in result.starships"> <a href="{{ship}}">{{ship}}</a></li></ul><br>
                <label>Vehicles:</label><ul><li ng-repeat="vehicle in result.vehicles"> <a href="{{vehicle}}">{{vehicle}}</a></li></ul><br>
                <label>Films:</label><ul><li ng-repeat="film in result.films"> <a href="{{film}}">{{film}}</a></li></ul>
                <button ng-click="vm.addToFavorites(result, vm.selectedOption)">Add to Favorites</button>
            </div>
        </div> 
        <div ng-if="vm.toggle.films" class="flex-container wrap">
        
            <div class ="results-card" ng-repeat="result in vm.searchResults.list track by $index" flex>
                    <label>Title:</label> <span>{{result.title}}</span><br>
                    <label>Episode ID:</label> <span>{{result.episode_id}}</span><br>
                    <label>Opening Crawl:</label> <span>{{result.opening_crawl}}</span><br>
                    <label>Director:</label> <span>{{result.director}}</span><br>
                    <label>Producer:</label> <span>{{result.producer}}</span><br>
                    <label>Release Date</label> <span>{{result.release_date}}</span><br>
                    <label>Characters:</label><ul><li ng-repeat="character in result.characters"> <a href="{{character}}">{{character}}</a></li></ul><br>
                    <label>Planets:</label><ul><li ng-repeat="planet in result.planets"> <a href="{{planet}}">{{planet}}</a></li></ul><br>
                    <label>Starships:</label><ul><li ng-repeat="ship in result.starships"> <a href="{{ship}}">{{ship}}</a></li></ul><br>
                    <label>Vehicles:</label><ul><li ng-repeat="vehicle in result.vehicles"> <a href="{{vehicle}}">{{vehicle}}</a></li></ul><br>
                    <button ng-click="vm.addToFavorites(result)">Add to Favorites</button>
            </div>
        </div>
        <div ng-if="vm.toggle.species" class="flex-container wrap" >
            
            <div class ="results-card" ng-repeat="result in vm.searchResults.list track by $index" flex>
                    <label>Name:</label> <span>{{result.name}}</span><br>
                    <label>Classification:</label> <span>{{result.classification}}</span><br>
                    <label>Designation:</label> <span>{{result.designation}}</span><br>
                    <label>Average Height:</label> <span>{{result.average_height}}<span><br>
                    <label>Skin Colors:</label> <span>{{result.skin_colors}}</span><br>
                    <label>Hair Colors:</label> <span>{{result.hair_colors}}</span><br>
                    <label>Homeworld:</label> <span>{{result.homeworld}}</span><br>
                    <label>Language:</label> <span>{{result.language}}</span><br>
                    <label>People:</label><ul><li ng-repeat="person in result.people"> <a href="{{person}}">{{person}}</a></li></ul><br>
                    <label>Films:</label><ul><li ng-repeat="film in result.films"> <a href="{{film}}">{{film}}</a></li></ul><br>
                    <button ng-click="vm.addToFavorites(result)">Add to Favorites</button>
            </div>
        </div> 
        <div ng-if="vm.toggle.starships" class="flex-container wrap">
            
            <div class ="results-card" ng-repeat="result in vm.searchResults.list track by $index" flex>
                    <label>Name:</label> <span>{{result.name}}</span><br>
                    <label>Model:</label> <span>{{result.model}}</span><br>
                    <label>Starship Class:</label> <span>{{result.starship_class}}</span><br>
                    <label>Manufacturer:</label> <span>{{result.manufacturer}}</span><br>
                    <label>Cost in Credits:</label> <span>{{result.cost_in_credits}}</span><br>
                    <label>Length:</label> <span>{{result.length}}<span><br>
                    <label>Crew:</label> <span>{{result.crew}}<span><br>
                    <label>Max Atmosphering Speed:</label> <span>{{result.max_atmosphering_speed}}</span><br>
                    <label>Hyperdrive Rating:</label> <span>{{result.hyperdrive_rating}}</span><br>
                    <label>Cargo Capacity:</label> <span>{{result.capacity}}</span><br>
                    <label>Films:</label><ul><li ng-repeat="film in result.films"> <a href="{{film}}">{{film}}</a></li></ul><br>
                    <button ng-click="vm.addToFavorites(result)">Add to Favorites</button>
            </div>
        </div>
        <div ng-if="vm.toggle.vehicles" class="flex-container wrap">
            
            <div class ="results-card" ng-repeat="result in vm.searchResults.list track by $index">
                    <label>Name:</label> <span>{{result.name}}</span><br>
                    <label>Model:</label> <span>{{result.model}}<br>
                    <label>Vehicle Class:</label> <span>{{result.vehicle_class}}</label><br>
                    <label>Manufacturer:</label> <span>{{result.manufacturer}}</label><br>
                    <label>Cost in Credits:</label> <span>{{result.cost_in_credits}}</label><br>
                    <label>Length:</label> <span>{{result.length}}</label><br>
                    <label>Crew:</label> <span>{{result.crew}}</span><br>
                    <label>Max Atmosphering Speed:</label> <span>{{result.max_atmosphering_speed}}</span><br>
                    <label>Cargo Capacity:</label> <span>{{result_capacity}}</label><br>
                    <label>Films:</label><ul><li ng-repeat="film in result.films"> <a href="{{film}}">{{film}}</a></li></ul><br>
                    <button ng-click="vm.addToFavorites(result)">Add to Favorites</button>
            </div>
        </div>
        <div ng-if="vm.toggle.planets" class="flex-container wrap">
            
            <div class ="results-card" ng-repeat="result in vm.searchResults.list track by $index">
                    <label>Name:</label> <span>{{result.name}}</span><br>
                    <label>Diameter:</label> <span>{{result.diameter}}<span><br>
                    <label>Rotation Period:</label> <span>{{result.rotation_period}}</span><br>
                    <label>Orbital Period:</label> <span>{{result.orbit_period}}</span><br>
                    <label>Gravity:</label> <span>{{result.gravity}}</span><br>
                    <label>Population:</label> <span>{{result.population}}<span><br>
                    <label>Climate:</label> <span>{{result.climate}}<span><br>
                    <label>Terrain:</label> <span>{{result.terrain}}<span><br>
                    <label>Surface Water:</label> <span>{{result.surface_water}}</span><br>
                    <label>Residents:</label> <span>{{result.residents}}</span><br>
                    <label>Films:</label><ul><li ng-repeat="film in result.films"> <a href="{{film}}">{{film}}</a></li></ul><br>
                    <button ng-click="vm.addToFavorites(result)">Add to Favorites</button>
            </div>
        </div>
    </md-content>
</div>


